header {
    /* background-color: lightgrey; */
    width: 901px;
    height: 125px;
}
#logo {
    width: 350px;
    height: 50px;
    position: absolute;
    top: 50px;
}
#logo h1 {
    position: absolute;
    top: -25px;
    left:50px;
}
#logo h2 {
    font-size: 12px;
    position: absolute;
    top: 24px;
    left:50px;

}
#bar {

    width: 901px;
    height: 10px;
    background-image: url(lab-assets/hr-img.png);
    background-repeat: repeat;
    position: absolute;
    top: 125px;
    
}
#lilBoxes {
    width: fit-content;
    /* float: right; */
    /* clear: right; */
    position: absolute;
    top: 60px; left: 700px;
}
#lilBoxes img {
   margin-left: 2px;
}
#pizza-section {
    width: 901px;
    height: 80px;
}
#pizza-section h1 {
    font-size: 40px;
}
#pizza-section h4 {
    font-size: 15px;
    position: absolute;
    top: 185px;
 }
 #pizza-section span {
   float: right;
   font-size: 8px; 
   width: ;
 }

 #narrative p {
     width: 901px;
 }
 #receipe {
     width: 901px;
     background-image: url(lab-assets/list-bg.png);
    
     
 }
 #receipe column {
   
     width: 400px;

 }
 #col1{
     float: left;
     margin-left: 30px;
 }
 #col2 {
     float: right;
     margin-right: 30px;
 }